<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @invite.name %>,</h1>
    <p>
      <%= @invite.inviter_name %> has invited you to join Brownfield of Dreams. You can create an account here: <%= https://brownfield-dreams.herokuapp.com/register %>.
    </p>
  </body>
</html>
