<section class="email-invitation-form">
<h4>Send an Email Invitation</h4>
  <%= form_tag @invite do |f| %>
    <div>
      <%= f.label :invite_github_handle %>
      <%= f.text_field :invite_github_handle, class: "block col-12 field" %>
    </div>
    <%= f.submit 'Send Invite'%>
  <% end %>
</section>
