---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/nagerz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1553724608'
      Etag:
      - W/"2cbacffd5e7d68006f631e2d6d7dbd44"
      Last-Modified:
      - Mon, 25 Mar 2019 21:34:13 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"nagerz","id":34927114,"node_id":"MDQ6VXNlcjM0OTI3MTE0","avatar_url":"https://avatars2.githubusercontent.com/u/34927114?v=4","gravatar_id":"","url":"https://api.github.com/users/nagerz","html_url":"https://github.com/nagerz","followers_url":"https://api.github.com/users/nagerz/followers","following_url":"https://api.github.com/users/nagerz/following{/other_user}","gists_url":"https://api.github.com/users/nagerz/gists{/gist_id}","starred_url":"https://api.github.com/users/nagerz/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/nagerz/subscriptions","organizations_url":"https://api.github.com/users/nagerz/orgs","repos_url":"https://api.github.com/users/nagerz/repos","events_url":"https://api.github.com/users/nagerz/events{/privacy}","received_events_url":"https://api.github.com/users/nagerz/received_events","type":"User","site_admin":false,"name":"Zach
        Nager","company":null,"blog":"","location":null,"email":null,"hireable":null,"bio":null,"public_repos":31,"public_gists":7,"followers":5,"following":4,"created_at":"2017-12-29T00:34:09Z","updated_at":"2019-03-25T21:34:13Z"}'
  recorded_at: Wed, 27 Mar 2019 21:10:08 GMT
recorded_with: VCR 4.0.0
